<div class="carousel slide carousel-dark p-3" id="carousel_{{order_id}}" data-bs-ride="carousel">
  <div class="carousel-indicators">
		{% for image in image_list %}
		{% if forloop.first %}
      <button type="button" data-bs-target="#carousel_{{order_id}}" data-bs-slide-to="{{forloop.counter0}}" class="active" aria-current="true" aria-label="Slide {{forloop.counter0}}"></button>
		{% endif %}
		{% if forloop.counter0 != 0 %}
      <button type="button" data-bs-target="#carousel_{{order_id}}" data-bs-slide-to="{{forloop.counter0}}" class="" aria-current="" aria-label="Slide {{forloop.counter0}}"></button>
		{% endif %}
		{% endfor %}
  </div>
  <div class="carousel-inner rounded-2">
		{% for image in image_list %}
		{% if forloop.first %}
    <div class="carousel-item active carouselItem-{{order_id}}">
      <img src="{{image}}" class="d-block w-100" alt="Image not load">
    </div>
		{% endif %}
		{% if forloop.counter0 != 0 %}
    <div class="carousel-item carouselItem-{{order_id}}">
      <img src="{{image}}" class="d-block w-100" alt="Image not load">
    </div>
		{% endif %}
		{% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel_{{order_id}}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel_{{order_id}}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
