<div class="modal fade" id="orderReportModal" tabindex="-1" aria-labelledby="orderReportModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="orderReportModalLabel">
          <i class="bi-file-earmark-spreadsheet"></i>
          Create order</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data" action="{% url 'create_report' %}">
          {% csrf_token %}
          {{report.as_p}}
          <div class="row mt-4">
            <div class="col">
              <button type="submit" class="btn btn-info shadow form-control icon-list-add">
              <i class="bi-file-earmark-plus"></i>
              Create</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
