{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %} 
{% load custom_filters %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.css' %}">
<style>
    .ui-datepicker-calendar {
        display: none;
    }
</style>
{% endblock %}
{% block container %}
<div class="cover-container mt-3 m-auto rounded-5 p-4 shadow w-100 blur bg-transparent border border-light border-opacity-75 shadow-lg">
    <div class="row">
        <form method="POST" enctype="multipart/form-data">
            <h1>{{header|safe}}</h1>
            {% csrf_token %}
            {{form.as_p}}
            <div class="row mt-4">
                <div class="col">
                    <a href="{% url 'order_list' %}" class="btn btn-outline-danger shadow form-control icon-undo">
                        <i class="bi-x-square"></i>
                        Cancel</a>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-outline-success shadow form-control icon-list-add">
                        <i class="bi bi-plus-square"></i> 
                        Add</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'js/datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
{% endblock %}
